In [2]:
import numpy as np

import pandas as pd

import os #파일이 몇 개 있는지(파일명) 등을 os 기능을 사용해요

import cv2 as cv #open cv 이미지 파일 읽기

from sklearn import utils # sklearn의 shuffle과 같은 기능 사용

from tqdm.notebook import tqdm

In [3]:
train_dir = './train/img/'

In [4]:
def labeling(img):

    class_name = img.split('.')[0]

    if class_name == 'da':
        return 0

    elif class_name == 'ram':
        return 1
    
    elif class_name == 'jwi':
        return 2
    elif class_name == 'heon':
        return 3
    elif class_name == 'ches':
        return 4
    elif class_name == 'ba':
        return 5
    elif class_name == 'kwi':
        return 6
    elif class_name == 'e_':
        return 7
    elif class_name == 'ta':
        return 8
    elif class_name == 'go':
        return 9
    elif class_name == 'fa':
        return 10

In [76]:
x_data = list()
t_data = list()

In [79]:
# print(os.listdir(train_dir))

for img in tqdm(os.listdir(train_dir), total=len(os.listdir(train_dir)), position=0, leave=True):
    label_data = os.listdir(train_dir) # 현재 파일의 label을 알아내요
    img_path = os.path.join(train_dir,img) # 파일 경로와 우리의 이미지 data를 이용해 경로 지정
    img_data = cv.resize(cv.imread(img_path, cv.IMREAD_GRAYSCALE), (32,32))
    x_data.append(img_data.ravel(order = 'F'))
    t_data.append(label_data)

  0%|          | 0/1547 [00:00<?, ?it/s]

In [80]:
x_df = pd.DataFrame(x_data)
# t_df = pd.DataFrame({ 'label' : t_data }) # dictionary의 key 값이 column 명 # label

    
display(x_df)

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3089,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3090,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3091,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3092,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3093,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

array([255, 255, 255, ..., 255, 255, 255], dtype=uint8)

In [51]:
df = pd.merge(t_df, x_df, left_index=True, right_index=True) # index 이용 merge

display(df)

NameError: name 't_df' is not defined

In [63]:
shuffled_df = utils.shuffle(df) # sklearn의 shuffle 기능

In [67]:
shuffled_df.to_csv('./train/train.csv', index=False)

In [24]:
x_df.to_csv('./train/train_1.csv', index=False)